<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block>
    <footer>
        <div class="card text-center">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Cosmetics for everyone</h5>
                <p class="card-text">Helping people find the best cosmetic and build confidence</p>
                <a th:href="@{/info}" class="btn btn-dark">Site Info</a>
            </div>
            <div class="card-footer text-muted">
                &copy; All rights reserved
            </div>
        </div>
    </footer>
</th:block>